
<div class="row">
<h4>人気のクライミングジムリスト</h4>
<% @indoors.each do |indoor|%>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%=indoor.image_url%>" alt="<%=indoor.name%>" style="height:200px; width:100%">
      <div class="caption">
      <h5><a href="/indoors/<%= indoor.id%>"><%=indoor.name[0,20]%></a></h5>
        <p>
          <a href="" class="btn btn-default" role="button">お気に入り</a>
          <a href="#" class="btn btn-default" role="button">課題を記録</a>
        </p>
        <span class="label label-primary"><%=indoor.prefecture%></span>
      </div>
    </div>
  </div>
<% end %>

<div class ="col-xs-6 col-xs-offset-3">
  <%= paginate(@indoors)%>
</div>
</div>
