    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>課題に間違えがあった場合はこちらから更新してください</h5>
      </div>
      <div class="panel-body">
        <div class="form-horizontal" role="form">
          <%= form_for(@indoorkadai, url: indoorkadai_path(@indoorkadai.id)) do |f| %>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">壁の名前　　</span>
              <%= f.text_field :wallname, placeholder: "例：バルジ、110度", class: "form-control"%>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">ルートの色　</span>
              <%= f.text_field :color, placeholder: "例：キミドリ", class: "form-control"%>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">ルート名　　</span>
              <%= f.text_field :routename, placeholder: "例：棒、＋", class: "form-control"%>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">グレード　　</span>
              <%= f.select :grade, ["4D", "3D", "2D", "1D", "1Q", "2Q", "3Q", "4Q", "5Q", "6Q", "7-10Q"], {}, class: "form-control"%>
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">今ある課題ならチェック <%= f.check_box(:newflag, {}, "true", "false")%></span>
            </div>
            <div class="input-group">
              <%= f.file_field :kadaipic %>
            </div>
            <%= f.submit "課題を更新する"%>
          <% end %>
        </div>
      </div>
    </div>